{
  "swaggerDoc": {
    "openapi": "3.1.0",
    "info": {
      "title": "API Documentation",
      "description": "This is the API documentation for the backend service.",
      "version": "1.0.0",
      "contact": {
        "name": "Support Team"
      }
    },
    "servers": [
      {
        "url": "https://api.jayronmed.uz",
        "description": "Production server"
      },
      {
        "url": "http://localhost:8080",
        "description": "Local development server"
      }
    ],
    "components": {
      "schemas": {},
      "securitySchemes": {
        "bearerAuth": {
          "type": "http",
          "scheme": "bearer",
          "bearerFormat": "JWT"
        }
      }
    },
    "security": [
      {
        "bearerAuth": []
      }
    ],
    "paths": {
      "/upload/file": {
        "post": {
          "tags": ["Upload"],
          "summary": "Upload a single file — Allowed: Authenticated users",
          "requestBody": {
            "required": true,
            "content": {
              "multipart/form-data": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "file": {
                      "type": "string",
                      "format": "binary"
                    }
                  },
                  "required": ["file"]
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "File uploaded successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "success": {
                        "type": "boolean",
                        "example": true
                      },
                      "url": {
                        "type": "string",
                        "example": "/uploads/abc.jpg"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/upload/files": {
        "post": {
          "tags": ["Upload"],
          "summary": "Upload multiple files — Allowed: Authenticated users",
          "requestBody": {
            "required": true,
            "content": {
              "multipart/form-data": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "files": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "binary"
                      }
                    }
                  },
                  "required": ["files"]
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Files uploaded successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "success": {
                        "type": "boolean",
                        "example": true
                      },
                      "urls": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "example": ["/uploads/a.jpg", "/uploads/b.jpg"]
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/auth/login": {
        "post": {
          "tags": ["Auth"],
          "summary": "User login — Allowed: Public",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "username": {
                      "type": "string",
                      "example": "user123"
                    },
                    "password": {
                      "type": "string",
                      "example": "password"
                    }
                  },
                  "required": ["username", "password"]
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Login successful",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "success": {
                        "type": "boolean",
                        "example": true
                      },
                      "access_token": {
                        "type": "string",
                        "example": "eyJhbGciOi..."
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Invalid username or password"
            }
          }
        }
      },
      "/auth/sign-up/ceo": {
        "post": {
          "tags": ["Auth"],
          "summary": "CEO sign-up — Allowed: Public (registration key required)",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "username": {
                      "type": "string",
                      "example": "ceo123"
                    },
                    "password": {
                      "type": "string",
                      "example": "password"
                    },
                    "reg_key": {
                      "type": "string",
                      "example": "registrationkey789"
                    }
                  },
                  "required": ["username", "password", "reg_key"]
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "CEO created successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "success": {
                        "type": "boolean",
                        "example": true
                      },
                      "message": {
                        "type": "string",
                        "example": "CEO created successfully"
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Invalid input or registration key"
            }
          }
        }
      },
      "/auth/me": {
        "get": {
          "tags": ["Auth"],
          "summary": "Get current user (requires auth) — Allowed: Authenticated users",
          "responses": {
            "200": {
              "description": "Current user data",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "success": {
                        "type": "boolean",
                        "example": true
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string"
                          },
                          "username": {
                            "type": "string"
                          },
                          "fullname": {
                            "type": "string"
                          },
                          "phone": {
                            "type": "string"
                          },
                          "role": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized"
            }
          }
        }
      },
      "/auth/update-me": {
        "patch": {
          "tags": ["Auth"],
          "summary": "Update current user's profile — Allowed: Authenticated users",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fullname": {
                      "type": "string"
                    },
                    "username": {
                      "type": "string"
                    },
                    "phone": {
                      "type": "string",
                      "example": "+998901234567"
                    },
                    "license_number": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Profile updated successfully"
            },
            "400": {
              "description": "Validation error or duplicate field"
            },
            "401": {
              "description": "Unauthorized"
            }
          }
        }
      },
      "/auth/update-password": {
        "patch": {
          "tags": ["Auth"],
          "summary": "Update current user's password — Allowed: Authenticated users",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "old_password": {
                      "type": "string",
                      "example": "oldPass"
                    },
                    "new_password": {
                      "type": "string",
                      "example": "newPass123"
                    }
                  },
                  "required": ["old_password", "new_password"]
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Password updated successfully"
            },
            "400": {
              "description": "Incorrect old password or validation error"
            },
            "401": {
              "description": "Unauthorized"
            }
          }
        }
      },
      "/user/create": {
        "post": {
          "tags": ["User"],
          "summary": "Create a new user — Allowed roles: ceo",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "username": {
                      "type": "string",
                      "example": "johndoe"
                    },
                    "password": {
                      "type": "string",
                      "example": "P@ssw0rd"
                    },
                    "fullname": {
                      "type": "string",
                      "example": "John Doe"
                    },
                    "phone": {
                      "type": "string",
                      "example": "+998901234567"
                    },
                    "role": {
                      "type": "string",
                      "example": "ADMIN"
                    },
                    "section": {
                      "type": "string",
                      "example": "Кардиология"
                    },
                    "license_number": {
                      "type": "string",
                      "example": "LN-1234"
                    }
                  },
                  "required": ["username", "password", "fullname", "phone"]
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "User created successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "success": {
                        "type": "boolean",
                        "example": true
                      },
                      "message": {
                        "type": "string",
                        "example": "User created successfully"
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Validation error or duplicate field"
            }
          }
        }
      },
      "/user/get-all": {
        "get": {
          "tags": ["User"],
          "summary": "Get paginated list of users — Allowed roles: ceo",
          "parameters": [
            {
              "name": "page",
              "in": "query",
              "schema": {
                "type": "integer",
                "example": 1
              }
            },
            {
              "name": "limit",
              "in": "query",
              "schema": {
                "type": "integer",
                "example": 10
              }
            },
            {
              "name": "search",
              "in": "query",
              "schema": {
                "type": "string",
                "example": "john"
              }
            },
            {
              "name": "role",
              "in": "query",
              "schema": {
                "type": "string",
                "example": "ADMIN"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "List of users",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "success": {
                        "type": "boolean",
                        "example": true
                      },
                      "data": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "_id": {
                              "type": "string"
                            },
                            "username": {
                              "type": "string"
                            },
                            "fullname": {
                              "type": "string"
                            },
                            "phone": {
                              "type": "string"
                            },
                            "role": {
                              "type": "string"
                            },
                            "status": {
                              "type": "string"
                            },
                            "created_at": {
                              "type": "string",
                              "format": "date-time"
                            }
                          }
                        }
                      },
                      "pagination": {
                        "type": "object",
                        "properties": {
                          "page": {
                            "type": "integer"
                          },
                          "limit": {
                            "type": "integer"
                          },
                          "total_items": {
                            "type": "integer"
                          },
                          "total_pages": {
                            "type": "integer"
                          },
                          "next_page": {
                            "type": ["integer", "null"]
                          },
                          "prev_page": {
                            "type": ["integer", "null"]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/user/get-one/{id}": {
        "get": {
          "tags": ["User"],
          "summary": "Get a single user by id — Allowed roles: ceo",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "example": "64b8f1a2c3d4e5f6a7b8c9d0"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "User object",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "success": {
                        "type": "boolean",
                        "example": true
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string"
                          },
                          "username": {
                            "type": "string"
                          },
                          "fullname": {
                            "type": "string"
                          },
                          "phone": {
                            "type": "string"
                          },
                          "role": {
                            "type": "string"
                          },
                          "section": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "license_number": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "404": {
              "description": "User not found"
            }
          }
        }
      },
      "/user/update/{id}": {
        "put": {
          "tags": ["User"],
          "summary": "Update a user — Allowed roles: ceo",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "example": "64b8f1a2c3d4e5f6a7b8c9d0"
              }
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fullname": {
                      "type": "string"
                    },
                    "username": {
                      "type": "string"
                    },
                    "phone": {
                      "type": "string"
                    },
                    "role": {
                      "type": "string"
                    },
                    "section": {
                      "type": "string"
                    },
                    "license_number": {
                      "type": "string"
                    },
                    "password": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "User updated successfully"
            },
            "400": {
              "description": "Validation error or duplicate field"
            },
            "404": {
              "description": "User not found"
            }
          }
        }
      },
      "/user/delete/{id}": {
        "delete": {
          "tags": ["User"],
          "summary": "Delete a user by id — Allowed roles: ceo",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "example": "64b8f1a2c3d4e5f6a7b8c9d0"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "User deleted successfully"
            },
            "404": {
              "description": "User not found"
            }
          }
        }
      },
      "/settings/get": {
        "post": {
          "tags": ["Settings"],
          "summary": "Get current application settings — Allowed roles: ceo",
          "responses": {
            "200": {
              "description": "Settings retrieved successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "success": {
                        "type": "boolean",
                        "example": true
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "clinic_name": {
                            "type": "string",
                            "example": "JayronXona"
                          },
                          "address": {
                            "type": "string",
                            "example": "123 Main St"
                          },
                          "phone": {
                            "type": "string",
                            "example": "555-1234"
                          },
                          "email": {
                            "type": "string",
                            "format": "email",
                            "example": "info@jayronxona.com"
                          },
                          "work_start_time": {
                            "type": "string",
                            "example": "09:00"
                          },
                          "work_end_time": {
                            "type": "string",
                            "example": "17:00"
                          },
                          "logo_path": {
                            "type": "string",
                            "example": "/uploads/logo.png"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "404": {
              "description": "Settings not found"
            }
          }
        }
      },
      "/settings/update": {
        "put": {
          "tags": ["Settings"],
          "summary": "Update application settings — Allowed roles: ceo",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "clinic_name": {
                      "type": "string",
                      "example": "JayronXona"
                    },
                    "address": {
                      "type": "string",
                      "example": "123 Main St"
                    },
                    "phone": {
                      "type": "string",
                      "example": "555-1234"
                    },
                    "email": {
                      "type": "string",
                      "format": "email",
                      "example": "info@jayronxona.com"
                    },
                    "work_start_time": {
                      "type": "string",
                      "example": "09:00"
                    },
                    "work_end_time": {
                      "type": "string",
                      "example": "17:00"
                    },
                    "logo_path": {
                      "type": "string",
                      "example": "/uploads/logo.png"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Settings updated successfully"
            },
            "400": {
              "description": "Validation error"
            },
            "404": {
              "description": "Settings not found"
            }
          }
        }
      },
      "/corpus/create": {
        "post": {
          "tags": ["Corpus"],
          "summary": "Create a new corpus",
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "corpus_number": {
                      "type": "integer",
                      "example": 1,
                      "description": "Корпус рақами (такрорланмаслиги керак)"
                    },
                    "description": {
                      "type": "string",
                      "example": "Асосий корпус"
                    },
                    "total_rooms": {
                      "type": "integer",
                      "example": 50,
                      "description": "Умумий хоналар сони"
                    }
                  },
                  "required": ["corpus_number", "total_rooms"]
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "Corpus created successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "success": {
                        "type": "boolean",
                        "example": true
                      },
                      "message": {
                        "type": "string",
                        "example": "Corpus created successfully"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string"
                          },
                          "corpus_number": {
                            "type": "integer"
                          },
                          "description": {
                            "type": "string"
                          },
                          "total_rooms": {
                            "type": "integer"
                          },
                          "status": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "updated_at": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "409": {
              "description": "Corpus number already exists"
            }
          }
        }
      },
      "/corpus/get-all": {
        "get": {
          "tags": ["Corpus"],
          "summary": "Get all corpuses with pagination",
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "parameters": [
            {
              "name": "page",
              "in": "query",
              "schema": {
                "type": "integer",
                "example": 1
              }
            },
            {
              "name": "limit",
              "in": "query",
              "schema": {
                "type": "integer",
                "example": 10
              }
            },
            {
              "name": "search",
              "in": "query",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "corpus_number",
              "in": "query",
              "schema": {
                "type": "integer"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "List of corpuses",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "success": {
                        "type": "boolean"
                      },
                      "data": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "_id": {
                              "type": "string"
                            },
                            "corpus_number": {
                              "type": "integer"
                            },
                            "description": {
                              "type": "string"
                            },
                            "total_rooms": {
                              "type": "integer"
                            },
                            "status": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "pagination": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/corpus/get-one/{id}": {
        "get": {
          "tags": ["Corpus"],
          "summary": "Get corpus by ID",
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Corpus found"
            },
            "404": {
              "description": "Corpus not found"
            }
          }
        }
      },
      "/corpus/update/{id}": {
        "put": {
          "tags": ["Corpus"],
          "summary": "Update corpus",
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "corpus_number": {
                      "type": "integer"
                    },
                    "description": {
                      "type": "string"
                    },
                    "total_rooms": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Corpus updated"
            },
            "404": {
              "description": "Corpus not found"
            }
          }
        }
      },
      "/corpus/delete/{id}": {
        "delete": {
          "tags": ["Corpus"],
          "summary": "Delete corpus",
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Corpus deleted"
            },
            "404": {
              "description": "Corpus not found"
            }
          }
        }
      },
      "/room/create": {
        "post": {
          "tags": ["Room"],
          "summary": "Create a new room",
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "room_name": {
                      "type": "string",
                      "example": "101-xona"
                    },
                    "room_price": {
                      "type": "number",
                      "example": 150000,
                      "description": "Хона нархи"
                    },
                    "corpus_id": {
                      "type": "string",
                      "example": "64b8f1a2c3d4e5f6a7b8c9d0"
                    },
                    "patient_capacity": {
                      "type": "integer",
                      "example": 4,
                      "description": "Умумий сиғим (беморлар ётоғи)"
                    },
                    "patient_occupied": {
                      "type": "integer",
                      "example": 0,
                      "description": "Бант бўлган ётоқлар сони"
                    },
                    "patients": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "patient": {
                            "type": "string",
                            "example": "64b8f1a2c3d4e5f6a7b8c9d1",
                            "description": "Бемор ID"
                          },
                          "start_date": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2025-11-03T10:00:00Z",
                            "description": "Кириш санаси"
                          },
                          "end_date": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2025-11-10T10:00:00Z",
                            "description": "Чиқиш санаси"
                          }
                        }
                      },
                      "example": []
                    },
                    "floor_number": {
                      "type": "integer",
                      "example": 1,
                      "description": "Нечанчи қават"
                    },
                    "description": {
                      "type": "string",
                      "example": "VIP хона, балкон билан"
                    }
                  },
                  "required": [
                    "room_name",
                    "room_price",
                    "corpus_id",
                    "patient_capacity",
                    "floor_number"
                  ]
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "Room created successfully"
            },
            "400": {
              "description": "patient_occupied cannot exceed patient_capacity"
            },
            "404": {
              "description": "Corpus not found"
            }
          }
        }
      },
      "/room/get-all": {
        "get": {
          "tags": ["Room"],
          "summary": "Get all rooms with filters",
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "parameters": [
            {
              "name": "page",
              "in": "query",
              "schema": {
                "type": "integer",
                "example": 1
              }
            },
            {
              "name": "limit",
              "in": "query",
              "schema": {
                "type": "integer",
                "example": 10
              }
            },
            {
              "name": "search",
              "in": "query",
              "schema": {
                "type": "string"
              },
              "description": "Хона номи ёки тавсиф бўйича қидириш"
            },
            {
              "name": "corpus_id",
              "in": "query",
              "schema": {
                "type": "string"
              },
              "description": "Корпус бўйича филтр"
            },
            {
              "name": "floor_number",
              "in": "query",
              "schema": {
                "type": "integer"
              },
              "description": "Қават бўйича филтр"
            },
            {
              "name": "available",
              "in": "query",
              "schema": {
                "type": "boolean",
                "example": true
              },
              "description": "Фақат бўш хоналарни кўрсатиш"
            }
          ],
          "responses": {
            "200": {
              "description": "List of rooms with corpus and patient info"
            }
          }
        }
      },
      "/room/get-one/{id}": {
        "get": {
          "tags": ["Room"],
          "summary": "Get room by ID with full details",
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Room found with corpus and patients"
            },
            "404": {
              "description": "Room not found"
            }
          }
        }
      },
      "/room/update/{id}": {
        "put": {
          "tags": ["Room"],
          "summary": "Update room",
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "room_name": {
                      "type": "string"
                    },
                    "room_price": {
                      "type": "number"
                    },
                    "corpus_id": {
                      "type": "string"
                    },
                    "patient_capacity": {
                      "type": "integer"
                    },
                    "patient_occupied": {
                      "type": "integer"
                    },
                    "patients": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "patient": {
                            "type": "string",
                            "example": "64b8f1a2c3d4e5f6a7b8c9d1",
                            "description": "Бемор ID"
                          },
                          "start_date": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2025-11-03T10:00:00Z",
                            "description": "Кириш санаси"
                          },
                          "end_date": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2025-11-10T10:00:00Z",
                            "description": "Чиқиш санаси"
                          }
                        }
                      },
                      "example": []
                    },
                    "floor_number": {
                      "type": "integer"
                    },
                    "description": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Room updated"
            },
            "400": {
              "description": "Validation error"
            },
            "404": {
              "description": "Room or Corpus not found"
            }
          }
        }
      },
      "/room/delete/{id}": {
        "delete": {
          "tags": ["Room"],
          "summary": "Delete room",
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Room deleted"
            },
            "404": {
              "description": "Room not found"
            }
          }
        }
      },
      "/room/add-patient/{id}": {
        "post": {
          "tags": ["Room"],
          "summary": "Add patient to room",
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              },
              "description": "Room ID"
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "patient_id": {
                      "type": "string",
                      "example": "64b8f1a2c3d4e5f6a7b8c9d1",
                      "description": "Patient ID to add to room"
                    },
                    "estimated_leave_time": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2025-11-30T10:00:00Z",
                      "description": "Estimated time when patient will leave the room"
                    }
                  },
                  "required": ["patient_id", "estimated_leave_time"]
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Patient added to room successfully"
            },
            "400": {
              "description": "Room is full, patient already in room, or room is not active"
            },
            "404": {
              "description": "Room or patient not found"
            }
          }
        }
      },
      "/room/remove-patient/{id}": {
        "post": {
          "tags": ["Room"],
          "summary": "Remove patient from room",
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              },
              "description": "Room ID"
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "patient_id": {
                      "type": "string",
                      "example": "64b8f1a2c3d4e5f6a7b8c9d1",
                      "description": "Patient ID to remove from room"
                    }
                  },
                  "required": ["patient_id"]
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Patient removed from room successfully"
            },
            "404": {
              "description": "Room not found or patient not in room"
            }
          }
        }
      },
      "/room/update-leave-time/{id}": {
        "patch": {
          "tags": ["Room"],
          "summary": "Update estimated leave time for patient in room",
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              },
              "description": "Room ID"
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "patient_id": {
                      "type": "string",
                      "example": "64b8f1a2c3d4e5f6a7b8c9d1",
                      "description": "Patient ID"
                    },
                    "estimated_leave_time": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2025-11-30T10:00:00Z",
                      "description": "New estimated leave time"
                    }
                  },
                  "required": ["patient_id", "estimated_leave_time"]
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Estimated leave time updated successfully"
            },
            "404": {
              "description": "Room or patient not found"
            }
          }
        }
      },
      "/booking/create": {
        "post": {
          "tags": ["Booking"],
          "summary": "Create a new booking",
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "patient_id": {
                      "type": "string",
                      "example": "64b8f1a2c3d4e5f6a7b8c9d1",
                      "description": "Бемор ID"
                    },
                    "room_id": {
                      "type": "string",
                      "example": "64b8f1a2c3d4e5f6a7b8c9d2",
                      "description": "Хона ID"
                    },
                    "corpus_id": {
                      "type": "string",
                      "example": "64b8f1a2c3d4e5f6a7b8c9d0",
                      "description": "Корпус ID"
                    },
                    "start_at": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2025-12-01T10:00:00Z",
                      "description": "Бронь бошланиш санаси"
                    },
                    "end_at": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2025-12-05T10:00:00Z",
                      "description": "Бронь тугаш санаси"
                    },
                    "note": {
                      "type": "string",
                      "example": "Махсус диета керак",
                      "description": "Қўшимча маълумот"
                    }
                  },
                  "required": [
                    "patient_id",
                    "room_id",
                    "corpus_id",
                    "start_at",
                    "end_at"
                  ]
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "Booking created successfully"
            },
            "400": {
              "description": "start_at must be before end_at / Xona bu vaqt oralig'ida to'liq band"
            },
            "404": {
              "description": "Patient, Room or Corpus not found"
            }
          }
        }
      },
      "/booking/get-all": {
        "get": {
          "tags": ["Booking"],
          "summary": "Get all bookings with filters",
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "parameters": [
            {
              "in": "query",
              "name": "start_date",
              "schema": {
                "type": "string",
                "format": "date-time",
                "example": "2025-12-01T00:00:00Z"
              },
              "description": "Бронларни филтрлаш учун бошланиш санаси (overlap)"
            },
            {
              "in": "query",
              "name": "end_date",
              "schema": {
                "type": "string",
                "format": "date-time",
                "example": "2025-12-31T23:59:59Z"
              },
              "description": "Бронларни филтрлаш учун тугаш санаси (overlap)"
            },
            {
              "in": "query",
              "name": "room_id",
              "schema": {
                "type": "string"
              },
              "description": "Хона ID бўйича филтрлаш"
            },
            {
              "in": "query",
              "name": "corpus_id",
              "schema": {
                "type": "string"
              },
              "description": "Корпус ID бўйича филтрлаш"
            }
          ],
          "responses": {
            "200": {
              "description": "Bookings retrieved successfully"
            }
          }
        }
      },
      "/booking/search-patients": {
        "get": {
          "tags": ["Booking"],
          "summary": "Bemor ism, telefon yoki passport orqali qidirish",
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "parameters": [
            {
              "in": "query",
              "name": "search",
              "required": false,
              "schema": {
                "type": "string"
              },
              "description": "Bemor ismi, telefon raqami yoki passport seriyasi (agar bo'sh bo'lsa, barcha bookinglar qaytariladi)",
              "example": "Alisher"
            }
          ],
          "responses": {
            "200": {
              "description": "Bemorlar va ularning bronlari topildi",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "success": {
                        "type": "boolean",
                        "example": true
                      },
                      "message": {
                        "type": "string",
                        "example": "Bronlar muvaffaqiyatli olindi"
                      },
                      "data": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "_id": {
                              "type": "string"
                            },
                            "patient_id": {
                              "type": "object",
                              "properties": {
                                "_id": {
                                  "type": "string"
                                },
                                "fullname": {
                                  "type": "string"
                                },
                                "phone": {
                                  "type": "string"
                                },
                                "passport_serial": {
                                  "type": "string"
                                }
                              }
                            },
                            "room_id": {
                              "type": "object",
                              "properties": {
                                "_id": {
                                  "type": "string"
                                },
                                "room_name": {
                                  "type": "string"
                                }
                              }
                            },
                            "corpus_id": {
                              "type": "object",
                              "properties": {
                                "_id": {
                                  "type": "string"
                                },
                                "corpus_number": {
                                  "type": "integer"
                                }
                              }
                            },
                            "bed_number": {
                              "type": "integer"
                            },
                            "start_at": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "end_at": {
                              "type": "string",
                              "format": "date-time"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Search parametri bo'sh"
            }
          }
        }
      },
      "/booking/get-by-patient/:patient_id": {
        "get": {
          "tags": ["Booking"],
          "summary": "Bemorning barcha bronlarini olish",
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "parameters": [
            {
              "in": "path",
              "name": "patient_id",
              "required": true,
              "schema": {
                "type": "string"
              },
              "description": "Bemor ID",
              "example": "64b8f1a2c3d4e5f6a7b8c9d1"
            }
          ],
          "responses": {
            "200": {
              "description": "Bemorning bronlari muvaffaqiyatli olindi",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "success": {
                        "type": "boolean",
                        "example": true
                      },
                      "message": {
                        "type": "string",
                        "example": "Bronlar muvaffaqiyatli olindi"
                      },
                      "data": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "_id": {
                              "type": "string"
                            },
                            "patient_id": {
                              "type": "object",
                              "properties": {
                                "_id": {
                                  "type": "string"
                                },
                                "first_name": {
                                  "type": "string"
                                },
                                "last_name": {
                                  "type": "string"
                                }
                              }
                            },
                            "room_id": {
                              "type": "object",
                              "properties": {
                                "_id": {
                                  "type": "string"
                                },
                                "room_name": {
                                  "type": "string"
                                },
                                "patient_capacity": {
                                  "type": "integer"
                                },
                                "floor_number": {
                                  "type": "integer"
                                }
                              }
                            },
                            "corpus_id": {
                              "type": "object",
                              "properties": {
                                "_id": {
                                  "type": "string"
                                },
                                "corpus_number": {
                                  "type": "integer"
                                }
                              }
                            },
                            "start_at": {
                              "type": "string",
                              "format": "date-time",
                              "example": "2025-12-01T10:00:00Z"
                            },
                            "end_at": {
                              "type": "string",
                              "format": "date-time",
                              "example": "2025-12-05T10:00:00Z"
                            },
                            "note": {
                              "type": "string",
                              "example": "Maxsus dieta kerak"
                            },
                            "created_at": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "updated_at": {
                              "type": "string",
                              "format": "date-time"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/booking/available-rooms": {
        "get": {
          "tags": ["Booking"],
          "summary": "Get all rooms with availability information",
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "parameters": [
            {
              "in": "query",
              "name": "corpus_id",
              "schema": {
                "type": "string"
              },
              "description": "Корпус ID бўйича филтрлаш"
            },
            {
              "in": "query",
              "name": "room_id",
              "schema": {
                "type": "string"
              },
              "description": "Хона ID бўйича филтрлаш"
            },
            {
              "in": "query",
              "name": "start_date",
              "schema": {
                "type": "string",
                "format": "date-time"
              },
              "description": "Мавжудликни текшириш учун бошланиш санаси"
            },
            {
              "in": "query",
              "name": "end_date",
              "schema": {
                "type": "string",
                "format": "date-time"
              },
              "description": "Мавжудликни текшириш учун тугаш санаси"
            }
          ],
          "responses": {
            "200": {
              "description": "Available rooms retrieved successfully - барча хоналар қайтарилади",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "success": {
                        "type": "boolean",
                        "example": true
                      },
                      "message": {
                        "type": "string",
                        "example": "Available rooms retrieved successfully"
                      },
                      "data": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "_id": {
                              "type": "string"
                            },
                            "room_name": {
                              "type": "string"
                            },
                            "room_price": {
                              "type": "number"
                            },
                            "corpus_id": {
                              "type": "object"
                            },
                            "patient_capacity": {
                              "type": "integer"
                            },
                            "current_occupied": {
                              "type": "integer",
                              "description": "Хозир хонада турган беморлар сони (Room.patients.length)"
                            },
                            "booking_count": {
                              "type": "integer",
                              "description": "Кўрсатилган вақт оралиғидаги бронлар сони"
                            },
                            "real_patient_count": {
                              "type": "integer",
                              "description": "Кўрсатилган вақт оралиғидаги реал беморлар сони"
                            },
                            "available_beds": {
                              "type": "integer",
                              "description": "Бўш ётоқлар сони: capacity - booking_count - real_patient_count"
                            },
                            "floor_number": {
                              "type": "integer"
                            },
                            "description": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/booking/update/:id": {
        "put": {
          "tags": ["Booking"],
          "summary": "Update booking",
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "parameters": [
            {
              "in": "path",
              "name": "id",
              "required": true,
              "schema": {
                "type": "string"
              },
              "description": "Booking ID"
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "start_at": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2025-12-02T10:00:00Z"
                    },
                    "end_at": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2025-12-06T10:00:00Z"
                    },
                    "note": {
                      "type": "string",
                      "example": "Янгиланган маълумот"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Booking updated successfully"
            },
            "400": {
              "description": "start_at must be before end_at / Xona bu vaqt oralig'ida to'liq band"
            },
            "404": {
              "description": "Booking not found"
            }
          }
        }
      },
      "/booking/delete/:id": {
        "delete": {
          "tags": ["Booking"],
          "summary": "Delete booking",
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "parameters": [
            {
              "in": "path",
              "name": "id",
              "required": true,
              "schema": {
                "type": "string"
              },
              "description": "Booking ID"
            }
          ],
          "responses": {
            "200": {
              "description": "Booking deleted successfully"
            },
            "404": {
              "description": "Booking not found"
            }
          }
        }
      },
      "/patient/create": {
        "post": {
          "tags": ["Patient"],
          "summary": "Create a new patient — Allowed roles: ceo, receptionist",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fullname": {
                      "type": "string",
                      "example": "John Doe"
                    },
                    "phone": {
                      "type": "string",
                      "example": "+998901234567"
                    },
                    "gender": {
                      "type": "string",
                      "example": "male"
                    },
                    "date_of_birth": {
                      "type": "string",
                      "format": "date",
                      "example": "1990-01-01"
                    },
                    "address": {
                      "type": "string",
                      "example": "123 Main St"
                    },
                    "allergies": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "regular_medications": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "medicine": {
                            "type": "string"
                          },
                          "schedule": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "passport": {
                      "type": "object",
                      "properties": {
                        "series": {
                          "type": "string",
                          "example": "AA"
                        },
                        "number": {
                          "type": "string",
                          "example": "123456"
                        }
                      }
                    }
                  },
                  "required": [
                    "fullname",
                    "phone",
                    "gender",
                    "date_of_birth",
                    "address"
                  ]
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "Patient created successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "success": {
                        "type": "boolean",
                        "example": true
                      },
                      "message": {
                        "type": "string",
                        "example": "Patient created successfully"
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Validation error"
            }
          }
        }
      },
      "/patient/get-all": {
        "get": {
          "tags": ["Patient"],
          "summary": "Get paginated list of patients — Allowed roles: ceo, receptionist, doctor, nurse",
          "parameters": [
            {
              "name": "page",
              "in": "query",
              "schema": {
                "type": "integer",
                "example": 1
              }
            },
            {
              "name": "limit",
              "in": "query",
              "schema": {
                "type": "integer",
                "example": 10
              }
            },
            {
              "name": "search",
              "in": "query",
              "schema": {
                "type": "string",
                "example": "John"
              }
            },
            {
              "name": "gender",
              "in": "query",
              "schema": {
                "type": "string",
                "example": "male"
              }
            },
            {
              "name": "doctor_id",
              "in": "query",
              "schema": {
                "type": "string",
                "example": "64b8f1a2c3d4e5f6a7b8c9d0"
              }
            },
            {
              "name": "is_diagnosis",
              "in": "query",
              "schema": {
                "type": "boolean",
                "example": false
              }
            }
          ],
          "responses": {
            "200": {
              "description": "List of patients",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "success": {
                        "type": "boolean",
                        "example": true
                      },
                      "data": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "_id": {
                              "type": "string"
                            },
                            "patient_id": {
                              "type": "string"
                            },
                            "fullname": {
                              "type": "string"
                            },
                            "phone": {
                              "type": "string"
                            },
                            "gender": {
                              "type": "string"
                            },
                            "diagnosis": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "doctor_id": {
                                    "type": "string"
                                  },
                                  "description": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "pagination": {
                        "type": "object",
                        "properties": {
                          "page": {
                            "type": "integer"
                          },
                          "limit": {
                            "type": "integer"
                          },
                          "total_items": {
                            "type": "integer"
                          },
                          "total_pages": {
                            "type": "integer"
                          },
                          "next_page": {
                            "type": ["integer", "null"]
                          },
                          "prev_page": {
                            "type": ["integer", "null"]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/patient/get-one/{id}": {
        "get": {
          "tags": ["Patient"],
          "summary": "Get a single patient by id — Allowed roles: ceo, receptionist, doctor, nurse",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "example": "64b8f1a2c3d4e5f6a7b8c9d0"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Patient object",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "success": {
                        "type": "boolean",
                        "example": true
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string"
                          },
                          "patient_id": {
                            "type": "string"
                          },
                          "fullname": {
                            "type": "string"
                          },
                          "phone": {
                            "type": "string"
                          },
                          "gender": {
                            "type": "string"
                          },
                          "date_of_birth": {
                            "type": "string",
                            "format": "date"
                          },
                          "address": {
                            "type": "string"
                          },
                          "allergies": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "regular_medications": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "medicine": {
                                  "type": "string"
                                },
                                "schedule": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "diagnosis": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "doctor_id": {
                                  "type": "string"
                                },
                                "description": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "passport": {
                            "type": "object",
                            "properties": {
                              "series": {
                                "type": "string"
                              },
                              "number": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "404": {
              "description": "Patient not found"
            }
          }
        }
      },
      "/patient/update/{id}": {
        "put": {
          "tags": ["Patient"],
          "summary": "Update a patient — Allowed roles: ceo, receptionist",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "example": "64b8f1a2c3d4e5f6a7b8c9d0"
              }
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "fullname": {
                      "type": "string"
                    },
                    "phone": {
                      "type": "string"
                    },
                    "gender": {
                      "type": "string"
                    },
                    "date_of_birth": {
                      "type": "string",
                      "format": "date"
                    },
                    "address": {
                      "type": "string"
                    },
                    "allergies": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "regular_medications": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "medicine": {
                            "type": "string"
                          },
                          "schedule": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "passport": {
                      "type": "object",
                      "properties": {
                        "series": {
                          "type": "string"
                        },
                        "number": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Patient updated successfully"
            },
            "400": {
              "description": "Validation error"
            },
            "404": {
              "description": "Patient not found"
            }
          }
        }
      },
      "/patient/delete/{id}": {
        "delete": {
          "tags": ["Patient"],
          "summary": "Delete a patient by id — Allowed roles: ceo",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "example": "64b8f1a2c3d4e5f6a7b8c9d0"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Patient deleted successfully"
            },
            "404": {
              "description": "Patient not found"
            }
          }
        }
      },
      "/examination/create": {
        "post": {
          "tags": ["Examination"],
          "summary": "Create a new examination — Allowed roles: ceo, receptionist",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "patient_id",
                    "doctor_id",
                    "complaints",
                    "treatment_type"
                  ],
                  "properties": {
                    "patient_id": {
                      "type": "string",
                      "example": "653f1b2c1a2b3c4d5e6f7a8b"
                    },
                    "doctor_id": {
                      "type": "string",
                      "example": "653f1b2c1a2b3c4d5e6f7a8c"
                    },
                    "description": {
                      "type": "string",
                      "example": "Patient has a mild fever."
                    },
                    "complaints": {
                      "type": "string",
                      "example": "Headache, fever"
                    },
                    "treatment_type": {
                      "type": "string",
                      "enum": ["stasionar", "ambulator"],
                      "example": "STASIONAR"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "Examination created successfully"
            },
            "404": {
              "description": "Patient or Doctor not found"
            }
          }
        }
      },
      "/examination/get-all": {
        "get": {
          "tags": ["Examination"],
          "summary": "Get all examinations — Allowed roles: ceo, receptionist, doctor",
          "parameters": [
            {
              "name": "page",
              "in": "query",
              "schema": {
                "type": "integer",
                "minimum": 1
              },
              "required": false,
              "description": "Sahifa raqami"
            },
            {
              "name": "limit",
              "in": "query",
              "schema": {
                "type": "integer",
                "minimum": 1,
                "maximum": 100
              },
              "required": false,
              "description": "Bir sahifadagi elementlar soni"
            },
            {
              "name": "doctor_id",
              "in": "query",
              "schema": {
                "type": "string"
              },
              "required": false,
              "description": "Doktor IDsi bo'yicha filter"
            },
            {
              "name": "patient_id",
              "in": "query",
              "schema": {
                "type": "string"
              },
              "required": false,
              "description": "Bemor IDsi bo'yicha filter"
            },
            {
              "name": "status",
              "in": "query",
              "schema": {
                "type": "string",
                "enum": [
                  "active",
                  "inactive",
                  "pending",
                  "completed",
                  "deleted"
                ]
              },
              "required": false,
              "description": "Ko'rik statusi bo'yicha filter"
            },
            {
              "name": "is_roomed",
              "in": "query",
              "schema": {
                "type": "string",
                "enum": ["true", "false"]
              },
              "required": false,
              "description": "Bemor hozir xonada yoki yo'qligi (true - xonada, false - xonada emas)"
            },
            {
              "name": "room_name",
              "in": "query",
              "schema": {
                "type": "string"
              },
              "required": false,
              "description": "Xona nomi bo'yicha qidirish"
            },
            {
              "name": "treatment_type",
              "in": "query",
              "schema": {
                "type": "string",
                "enum": ["stasionar", "ambulator"]
              },
              "required": false,
              "description": "Davolash turi bo'yicha filter"
            },
            {
              "name": "search",
              "in": "query",
              "schema": {
                "type": "string"
              },
              "required": false,
              "description": "Bemorning ismi yoki telefon raqami bo'yicha qidirish"
            },
            {
              "name": "has_service",
              "in": "query",
              "schema": {
                "type": "string",
                "enum": ["true", "false"]
              },
              "required": false,
              "description": "Service mavjudligi bo'yicha filter (true - bor, false - yo'q)"
            },
            {
              "name": "has_prescription",
              "in": "query",
              "schema": {
                "type": "string",
                "enum": ["true", "false"]
              },
              "required": false,
              "description": "Prescription mavjudligi bo'yicha filter (true - bor, false - yo'q)"
            },
            {
              "name": "has_neurological_status",
              "in": "query",
              "schema": {
                "type": "string",
                "enum": ["true", "false"]
              },
              "required": false,
              "description": "Neurological status mavjudligi bo'yicha filter (true - bor, false - yo'q)"
            },
            {
              "name": "has_daily_checkup",
              "in": "query",
              "schema": {
                "type": "string",
                "enum": ["true", "false"]
              },
              "required": false,
              "description": "Daily checkup mavjudligi bo'yicha filter (true - bor, false - yo'q)"
            },
            {
              "name": "has_billing",
              "in": "query",
              "schema": {
                "type": "string",
                "enum": ["true", "false"]
              },
              "required": false,
              "description": "Billing mavjudligi bo'yicha filter (true - bor, false - yo'q)"
            }
          ],
          "responses": {
            "200": {
              "description": "List of examinations"
            }
          }
        }
      },
      "/examination/get-one/{id}": {
        "get": {
          "tags": ["Examination"],
          "summary": "Get one examination by ID — Allowed roles: ceo, receptionist, doctor",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Examination found"
            },
            "404": {
              "description": "Examination not found"
            }
          }
        }
      },
      "/examination/update/{id}": {
        "patch": {
          "tags": ["Examination"],
          "summary": "Update an examination — Allowed roles: ceo, receptionist, doctor",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "doctor_id": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "complaints": {
                      "type": "string"
                    },
                    "diagnosis": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Examination updated successfully"
            },
            "404": {
              "description": "Examination not found"
            }
          }
        }
      },
      "/examination/delete/{id}": {
        "delete": {
          "tags": ["Examination"],
          "summary": "Delete an examination — Allowed roles: ceo , receptionist",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Examination deleted successfully"
            },
            "404": {
              "description": "Examination not found"
            }
          }
        }
      },
      "/examination/complete/{id}": {
        "patch": {
          "tags": ["Examination"],
          "summary": "Complete an examination — Allowed roles: ceo, receptionist",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Examination completed successfully"
            },
            "404": {
              "description": "Examination not found"
            }
          }
        }
      },
      "/examination/create-with-service-and-prescription": {
        "post": {
          "tags": ["Examination"],
          "summary": "Create examination with service and prescription — Ko'rik, xizmat va retseptni birga yaratish - Allowed roles: ceo, receptionist",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "patient_id",
                    "doctor_id",
                    "complaints",
                    "treatment_type"
                  ],
                  "properties": {
                    "patient_id": {
                      "type": "string",
                      "example": "653f1b2c1a2b3c4d5e6f7a8b",
                      "description": "Bemor IDsi"
                    },
                    "doctor_id": {
                      "type": "string",
                      "example": "653f1b2c1a2b3c4d5e6f7a8c",
                      "description": "Doktor IDsi"
                    },
                    "description": {
                      "type": "string",
                      "example": "Patient has a mild fever.",
                      "description": "Qo'shimcha tavsif"
                    },
                    "complaints": {
                      "type": "string",
                      "example": "Headache, fever",
                      "description": "Bemorning shikoyatlari"
                    },
                    "treatment_type": {
                      "type": "string",
                      "enum": ["stasionar", "ambulator"],
                      "example": "STASIONAR",
                      "description": "Davolanish turi"
                    },
                    "service_data": {
                      "type": "object",
                      "description": "Xizmat ma'lumotlari (ixtiyoriy)",
                      "properties": {
                        "duration": {
                          "type": "integer",
                          "example": 7,
                          "description": "Xizmat davomiyligi (kunlarda)"
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "service_type_id": {
                                "type": "string",
                                "example": "653f1b2c1a2b3c4d5e6f7a8d",
                                "description": "Xizmat turi IDsi"
                              },
                              "notes": {
                                "type": "string",
                                "example": "Morning dose",
                                "description": "Eslatma"
                              },
                              "days": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "day": {
                                      "type": "integer",
                                      "example": 1
                                    },
                                    "date": {
                                      "type": "string",
                                      "format": "date",
                                      "example": "2024-01-15"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "prescription_data": {
                      "type": "object",
                      "description": "Retsept ma'lumotlari (ixtiyoriy)",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "medication_id": {
                                "type": "string",
                                "example": "653f1b2c1a2b3c4d5e6f7a8e",
                                "description": "Dori IDsi"
                              },
                              "addons": {
                                "type": "string",
                                "example": "Take with food",
                                "description": "Qo'shimcha ko'rsatmalar"
                              },
                              "frequency": {
                                "type": "integer",
                                "example": 3,
                                "description": "Kunlik chastotasi"
                              },
                              "duration": {
                                "type": "integer",
                                "example": 7,
                                "description": "Davomiyligi (kunlarda)"
                              },
                              "instructions": {
                                "type": "string",
                                "example": "1 tablet 3 times a day",
                                "description": "Qabul qilish ko'rsatmalari"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "Ko'rik, xizmat va retsept muvaffaqiyatli yaratildi"
            },
            "400": {
              "description": "Invalid request data"
            },
            "404": {
              "description": "Patient or Doctor not found"
            }
          }
        }
      },
      "/analysis/create": {
        "post": {
          "tags": ["Analysis"],
          "summary": "Create a new analysis type",
          "security": [
            {
              "bearerAuth": []
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "CBC",
                      "description": "Tahlil kodi (takrorlanmasligi kerak)"
                    },
                    "name": {
                      "type": "string",
                      "example": "Complete Blood Count",
                      "description": "Tahlil nomi"
                    },
                    "description": {
                      "type": "string",
                      "example": "Umumiy qon tahlili",
                      "description": "Qo'shimcha ma'lumot"
                    }
                  },
                  "required": ["code", "name"]
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "Analysis created successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "success": {
                        "type": "boolean",
                        "example": true
                      },
                      "message": {
                        "type": "string",
                        "example": "Analysis created successfully"
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "updated_at": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
[...]
